#alianzas {
    width: 100%;
    max-width: 980px;
    margin: auto;
    .ribbon,
    .title {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    .ribbon {
        width: 30%;
    }
    .title {
        width: 70%;
        p {
            font-size: 25pt;
            display: inline-block;
            font-family: Caslon;
            padding: 10px 20px;
            @media screen and (min-width: 720px) {
                font-size: $title_size;
            }
            &::before{
              content: '';
              display: block;
              width: 5px;
              height: 80%;
              background: $ocre;
            }
        }
    }
}
