#centros {
    width      : 100%;
    position: relative;
    clear: both;
    .banner{
        display: flex;
        img{
            width: 100%;
        }

        p {
            left: 70px;
            font-family: Big Caslon Medium;
            color: white;
            position: absolute;
            /* display: inline-block; */
            border-left: solid 5px #9e8629;
            padding: 1px 10px;
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }
}

.centro_expandido{
    display: flex;
    .izquierda,
    .derecha{
        width: 50%;
        float: left;
    }

    .izquierda{
        background: url('../images/texturas/marmol.png');
        border-width: 0px 15px 0px 0px;
        border-color: $ocre;
        border-style: solid;
        .arrow{
            img{
                margin-top: 36px;
                margin-left: 36px;
                width: 2%;
                position: absolute;
                cursor: pointer;
            }
        }
        .arrow::after{
            content: '';
            display: block;
            height: 4px;
            margin-left: 5%;
            background: $ocre;
        }
        .title{
            font-family: Caslon;
            font-size: 30pt;
            margin-left: 15%;
            border-width: 0px 0px 0px 4px;
            border-color: $ocre;
            border-style: solid;
            padding-left: 25px;
            line-height: 1;
            .font_change{
                font-family: Aspira;
            }
        }
        .descripcion{
            font-family: Aspira Regular;
            font-size: 14pt;
            margin: 60px;
        }
        .subtema{
            font-family: Aspira;
            font-size: 25pt;
            margin: 8%;
            letter-spacing: 5px;
        }
        .lista{
            margin: 8%;
            line-height: 1.4;
            font-size: 14pt;
            font-family: Aspira Regular;
        }
    }
    .derecha
    {
        background: url('../images/texturas/grey.png');
        color: #ffffff;
        .title{
            font-family: Caslon;
            font-size: 40pt;
            margin-left: 15%;
            border-width: 0px 0px 0px 4px;
            border-color: $ocre;
            border-style: solid;
            padding-left: 25px;
            .font_change{
                font-family: Aspira;
            }
        }
        .descripcion{
            font-family: Aspira Regular;
            font-size: 14pt;
            margin: 35px;
        }
        .subtema{
            font-family: Aspira;
            font-size: 25pt;
            margin : 8%;
            letter-spacing: 5px;
            line-height: 1.3;
        }
        .lista{
            margin : 8%;
            line-height: 1.4;
            font-size: 14pt;
            font-family: Aspira Regular;
        }
    }
}
#centro1{
    display: flex;
    width: 100%;
    line-height: .9;
    img{
        width : 100%
    }
    #neuropediatria{

        font-family: Caslon;
        font-size: 30pt;
        display: flex;
        /* top: 10%; */
        p{
            position: absolute;
            margin-left: 383px;
            margin-top: 36px;
            border-width: 0px 0px 0px 4px;
            border-color: #ffffff;
            border-style: solid;
            padding-left: 25px;
            color: #ffffff;
            cursor: pointer;
        }
    }
    #cefaleas{

        font-family: Caslon;
        font-size: 30pt;
        display: flex;
        /* top: 10%; */
        p{
            position: absolute;
            margin-left: 450px;
            margin-top: 230px;
            border-width: 0px 0px 0px 4px;
            border-color: $ocre;
            border-style: solid;
            padding-left: 25px;
            color: $gris;
            cursor: pointer;
        }
    }
}
#centro2{
    display: flex;
    width: 100%;
    line-height: .9;
    img{
        background: url(../images/centros/Banner2.png) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 355px;
        width: 100%
    }
    #neuropediatria{

        font-family: Caslon;
        font-size: 30pt;
        display: flex;
        /* top: 10%; */
        p{
            position: absolute;
            margin-left: 450px;
            margin-top: 60px;
            border-width: 0px 0px 0px 4px;
            border-color: $ocre;
            border-style: solid;
            padding-left: 25px;
            color: #ffffff;
            cursor: pointer;
        }
    }
    #cefaleas{

        font-family: Caslon;
        font-size: 30pt;
        display: flex;
        /* top: 10%; */
        p{
            position: absolute;
            margin-left: 550px;
            margin-top: 231px;
            border-width: 0px 0px 0px 4px;
            border-color: $ocre;
            border-style: solid;
            padding-left: 25px;
            color: $gris;
            cursor: pointer;
        }
    }
}
#centro3{
    display: flex;
    width: 100%;
    line-height: .9;
    img{
        width : 100%
    }
    #neuropediatria{

        font-family: Caslon;
        font-size: 30pt;
        display: flex;
        /* top: 10%; */
        p{
            position: absolute;
            margin-left: 425px;
            margin-top: 48px;
            border-width: 0px 0px 0px 4px;
            border-color: #ffffff;
            border-style: solid;
            padding-left: 25px;
            color: #ffffff;
            cursor: pointer;
        }
    }
    #cefaleas{

        font-family: Caslon;
        font-size: 30pt;
        display: flex;
        /* top: 10%; */
        p{
            position: absolute;
            margin-left: 475px;
            margin-top: 223px;
            border-width: 0px 0px 0px 4px;
            border-color: $ocre;
            border-style: solid;
            padding-left: 25px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}