#centros {
    width      : 100%;
    position: relative;
    clear: both;
    .banner{
            img{
                width: 100%;
            }
    
    p {
            left: 70px;
            font-family: Big Caslon Medium;
            color: white;
            position: absolute;
            /* display: inline-block; */
            border-left: solid 5px #9e8629;
            padding: 1px 10px;
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }
}