#contacto {
    width      : 100%;
    position: relative;
    clear: both;
    .banner{
            img{
                width: 100%;
            }
    
    p {
            left: 70px;
            bottom: 10%;
            font-family: Big Caslon Medium;
            color: white;
            position: absolute;
            /* display: inline-block; */
            border-left: solid 5px #9e8629;
            padding: 1px 10px;
            font-size: 3rem;
            letter-spacing: 2px;
        }
    }
}
.address{
    float: right;
    width: 40%;
    text-align: right;
    margin-right: 100px;
    font-size: 1.5rem;
    .banner_logo
    {
        height: 200px;
        border-style: solid;
        border-width: 0px 0px 3px 0px;
    }
    .banner_logo_ocre
    {
        height: 20px;
        border-style: solid;
        border-width: 0px 0px 3px 0px;
        width: 13%;
        display: inline-block;
        border-color: $ocre;
    }
    .golden
    {
        color: #9e8629;
        font-family: Big Caslon Medium;
        font-size: 2.5rem;
        letter-spacing: 4px;
    }
    .golden_medium{
        color: #9e8629;
        font-family: Big Caslon Medium;
        font-size: 2rem;
    }
}
.ubicacion {
    width  : 100%;
    display: block;
    margin : 0;
    margin-bottom: 70px;
    overflow: auto;
}
.msg-left{
    text-align: center;
}
p.italico{
    font-style: italic;
}
.contacto {
    width         : 98%;
    margin        : 10px auto;
    padding-bottom: 80px;
    font-family   : 'Aspira';
    display       : block;
    vertical-align: top;
    float: left;
    margin-top: 30px;
    ul {
        list-style-type: none;
        padding        : 0;
    }
    form{
        float: left;
        margin-left: 70px;
    }
    input,
    textarea {
        background: $gris;
        height: 50px;
    }
    textarea{
        height: 230px;
    }
    .contact-dropdown-services dt a{
        text-transform: uppercase;
    }
    .contact-dropdown-services dt a,
    input,
    textarea {
        width     : 100%;
        padding   : 10px;
        margin    : 10px 0;
        border-left: solid 5px $ocre;
        box-sizing: border-box;
        letter-spacing: 1px;
        font-family: Aspira;
        
    }
    input[type=date]{
        width: 25%;
        padding: 0px;
    }
    input[type=number]{
        width: 23%;
        float: left;
        margin-right: 10px;
    }
    input[type=tel]{
        width: 74%;
        float: left;
        border-style: hidden;
    }
    
    button {
        cursor: pointer;
        padding   : 10px 20px;
        float: right;
        border    : none;
        color     : white;
        text-align: center;
        background: $ocre;
        height: 50px;
    }
    .label{
        background-color: #FFFFFF
;        font-size: 0.8em;
        text-align: center;
    }
    .sub-label{
        text-align: center;
        font-size: 0.6em;
    }
    li > span{
        font-size: 0.6em;
    }
    /*Estilo de placeholder*/
    ::-webkit-input-placeholder {
        color: white;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: white;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: white;
    }
    :-ms-input-placeholder {
        color: white;
    }
    input[placeholder], [placeholder], *[placeholder] {
            color: white;
            word-spacing: 6px;
            font-weight: 100;
            font-size: 1.2rem;
            font-family: Aspira;
            font-style: normal;
            font-variant: normal;
            padding: 20px;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        transition: 0s; 
        opacity: 0;
    }
}
.contacto-fuente{
    font-family: 'Aspira';
    font-size: 2rem;
    font-weight: 600;
}
.direcciones{
    
    margin     : auto;
    font-family: 'Aspira';
    text-align: center;
    font-size : 0.8rem;
    color     : #2c3e50;
    width     : 100%;
    cursor    : pointer;
    .something {
        text-transform: uppercase;
        padding       : 1px 10px;
        i {
            
            font-size: 1.6rem;
        }
        .nombre {
            font-weight: 700;
        }
        .direccion,
        .telefono {
            font-weight: 200;
        }
    }
}