#enlaces {
    background: white;
    .row {
        width   : 100%;
        display : block;
        overflow: auto;
    }
    .video {
        width     : 80%;
        background: white;
        float     : left;
        margin    : 0;
    }
    .memorias {
        color: white;
        img {
            width : 100%;
            margin: 0;
        }
    }
    .title p {
        padding    : 0 10px;
        border-left: solid 5px $ocre;
        font-family: 'Caslon';
        margin     : 0;
        font-size  : $title_size;
    }
    .memorias,
    .video {
        position: relative;
        .title p {
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%,-50%);
            cursor   : pointer;
        }
    }
    .menciones {
        position   : relative;
        width      : 100%;
        text-align : center;
        border-left: solid 10px $ocre;
        background : url('../images/texturas/marmol.png');
        padding    : 10%;
        .title p {
            text-align: left;
        }
        .description {
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%,-50%);
            width    : 80%;
            font-size: $subtitle_size;
        }
    }
    .h_ribbon {
        background       : url('../images/pattern.png');
        background-repeat: repeat;
        margin           : 0;
        width            : 20%;
        float            : left;
    }
    @media screen and (min-width: 768px) {
        .col2-md {
            width         : 50%;
            position      : relative;
            float         : left;
            display       : inline-block;
            vertical-align: top;
        }
    }
    .memorias_container {
         display   : none;
        .memoria {
            width     : 31%;
            margin    : 1%;
            background: $ocre;
            float     : left;
            &:hover .texto .nombre::after{
              width: 100%;
            }
            &:nth-child(odd) .texto {
                background: url('../images/texturas/marmol.png');
            }
            &:nth-child(even) .texto {
                background: url('../images/texturas/grey.png');
                color    : white;
                .nombre::after{
                  background: white;
                }
            }
            .texto {
                  min-height: 400px;
                padding    : 10px;
                margin-left: 2%;
                width      : 98%;
                float: right;
                display    : block;
                .nombre {
                  font-style: italic;
                  letter-spacing: 0.2em;
                  font-size: 15pt;
                  position: relative;
                  padding: 3px 0;
                  display: inline-block;
                  &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 20%;
                    height: 3px;
                    background: black;
                    content: '';
                    bottom: 0;
                    left: 0;
                    transition: ease .5s;
                  }

                }
            }
            img {
              display: block;
                width     : 100%;
                margin-top: 10px;
            }
        }
    }
}
