@font-face {
  font-family: Caslon;
  src        : url("fonts/BigCaslon.ttf") format('truetype');
  font-weight: 400;
  font-style : normal;
}
@font-face {
  font-family: Caslon;
  src        : url("fonts/BigCaslon.ttf") format('truetype');
  font-weight: 100;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Medium-Italic.otf") format("opentype");
  font-weight: 500;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Demi-Italic.otf") format("opentype");
  font-weight: 600;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Bold-Italic.otf") format("opentype");
  font-weight: 700;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Black-Italic.otf") format("opentype");
  font-weight: 800;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Demi.otf") format("opentype");
  font-weight: 600;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Medium.otf") format("opentype");
  font-weight: 500;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Bold.otf") format("opentype");
  font-weight: 700;
  font-style : normal;
}
@font-face {
  font-family: Aspira2;
  src        : url("fonts/Aspira-Italic-2.otf") format("opentype");
  font-weight: 400;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Italic.otf") format("opentype");
  font-weight: 400;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Regular.otf") format("opentype");
  font-weight: 400;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Light.otf") format("opentype");
  font-weight: 300;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Black.otf") format("opentype");
  font-weight: 900;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Thin.otf") format("opentype");
  font-weight: 200;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Thin-Italic.otf") format("opentype");
  font-weight: 200;
  font-style : italic;
}
