/*
|------------------------------------------------
|HERO BANNER
|------------------------------------------------
*/
.hero {
    width    : 100%;
    // max-width: $max_mediaquery;
    margin   : auto;
    overflow : auto;
    position : relative;
    img {
        width: 100%;
    }
    .title {
        position         : absolute;
        top              : 0;
        left             : 0;
        height           : 100%;
        width            : 100%;
        -webkit-clip-path: polygon(0 65%, 0% 100%, 62% 100%);
        clip-path        : polygon(0 65%, 0% 100%, 62% 100%);
        background       : url("../images/texturas/marmol.png");
        p {
            bottom     : 1%;
            left       : 3%;
            margin     : 0;
            position   : absolute;
            font-family: Caslon;
            margin     : 0 10px;
            font-size  : $title_size;
            color: $gris;
            &::before {
                content   : '';
                display   : block;
                background: $ocre;
                width     : 5px;
                height    : 100%;
                position  : absolute;
                top       : 0;
                left      : -10px;
            }
        }
    }
}
