.info{
	overflow: hidden;
	float: left;
    position: absolute;
    left: 18%;
    height: 0;
    padding-bottom: 19%;
    width: 82%;
    img{
    	width: 100%;
    }
    .name{
    	position: absolute;
	    font-size: 3.3rem;
	    left: 13%;
	    font-family: Caslon;
	    font-weight: 400;
	    color: $gris;
    }
    .title{
    	position: absolute;
	    display: flex;
	    left: 18%;
	    top: 48%;
    	p{
    		font-family: Aspira;
    		font-weight: 100;
    		font-size: .8rem;
    		padding-right: 25px;
    		letter-spacing: 1.5px;
    		color: $gris;
    	}
    }
}
#enfermedades,
#experto {
  float: left;
  img{
    width: 100%;
  }
}
#enfermedades {
    width: 45%;
    margin-right: 1%;
    background: url('../images/texturas/grey.png');
    p.title{
      text-transform: uppercase;
      font-family: Aspira;
      color: white;
      &::after
      {
        content: '';
        display: block;
        width: 20%;
        height: 5px;
        position: absolute;
        bottom: 10px;
        right: 5px;
        background: white;
      }
    }
}
#experto {
    width: 54%;
}
