.info {
    overflow : hidden;
    float    : left;
    position : absolute;
    height   : 209px;
    max-width: 894px;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        height   : 150px;
        max-width: 618px;
    }
    img#titulo {
        position: absolute;
        top     : 16%;
        left    : 11%;
        width   : 47%;
    }
    .name {
        position   : absolute;
        font-size  : 3.3rem;
        left       : 13%;
        font-family: Caslon;
        font-weight: 400;
        color      : $gris;
    }
    .title {
        position: absolute;
        display : flex;
        left    : 18%;
        top     : 48%;
        p {
            font-family   : Aspira;
            font-weight   : 100;
            font-size     : 0.8rem;
            padding-right : 25px;
            letter-spacing: 1.5px;
            color         : $gris;
        }
    }
}
#enfermedades,
#experto {
    float     : none;
    position  : relative;

    background: url('../images/texturas/grey.png');
    @media screen and (min-width: 425px) {
        float: right;
        height    : 1080px;
    }

}
#enfermedades {
    width         : 100%;
    text-align    : right;
    padding-bottom: 70px;
    font-weight: 200;
    line-height: 2;
    @media screen and (min-width: 620px) {
        width: 45%;
    }
    img {
        width: 100%;
        display: none;
        @media screen and (min-width: 620px){
          display: block;
        }
    }
    p {
        margin-right  : 10%;
        text-transform: uppercase;
        font-family   : Aspira;
        color         : white;
        font-size     : 10pt;
    }
    p.title {
        font-size  : $subtitle_size;
        font-weight: 700;
        font-style : italic;
        position   : relative;
        &:hover::after {
            width: 50%;
        }
        &::after {
            -webkit-transition: width 0.5s;
            /* Safari */
            transition        : width 0.5s;
            content           : '';
            display           : block;
            width             : 20%;
            height            : 3px;
            position          : absolute;
            bottom            : -5px;
            right             : 5px;
            background        : white;
        }
    }
}
#experto {
    width      : 100%;
    border-left: solid 10px $ocre;
    @media screen and (min-width: 620px) {
        width: 55%;
    }
    .title {
        text-align: right;
        font-family: Caslon;
        font-size  : $title_size;
        color      : white;
        position   : relative;
        display: inline-block;
        @media screen and (min-width: 620px){
          text-align : center;
          display: block;
        }
        img {
          width: 40%;
          margin: 0;
          border-right: solid 5px $ocre;
          vertical-align: middle;
          @media screen and (min-width: 620px){
            display: none;
          }
        }
        p {
            display    : inline-block;
            border-left: solid 5px $ocre;
            vertical-align: middle;
            font-size: 10vw;
            padding    : 1px 10px;
            @media screen and (min-width: 620px){
              font-size: 50pt;
            }
        }
    }
    .pruebas {
        background: url("../images/texturas/marmol.png");
        height    : 890px;
        .subtitle {
            font-family   : Aspira;
            text-transform: uppercase;
            width         : 80%;
            margin        : auto;
            font-size     : 3.5vw;
            letter-spacing: 5px;
            font-style    : italic;
            @media screen and (min-width: 880px) {
                font-size: $subtitle_size;
            }
        }
        hr {
            width     : 80%;
            height    : 4px;
            margin    : 10px 0 0;
            border    : none;
            background: $ocre;
        }
        p {
            padding       : 10% 10% 10px;
            line-height   : 30px;
            text-transform: uppercase;
        }
        .logo {
            width  : 64px;
            display: block;
            margin : auto;
            fill   : $ocre;
        }
    }
}
/*
|------------------------------------------
|DATOS IMPORTANTES
|------------------------------------------
*/
#datos_importantes {
    background: $ocre;
    width     : 100%;
    position  : relative;
    overflow  : auto;
    color     : white;
    .title {
        text-transform: uppercase;
        overflow      : auto;
        display       : block;
        position      : relative;
        &::after {
            content   : '';
            display   : none;
            background: white;
            bottom    : 0;
            left      : 0;
            width     : 90%;
            height    : 2px;
            position  : absolute;
            @media screen and (min-width: 760px){
              display: block;
            }
        }
        p {
            float  : left;
            width  : 50%;
            padding: 5% 10%;
            margin : 0;
            &:nth-child(2){
              display: none;
              @media screen and (min-width: 760px){
                display: block;
              }
            }
        }
        p.marker {
            background: white;
            color     : $gris;
            width     : 50%;
            float     : left;
            p {
                width: 100%;
            }
        }
    }
    .description {
        padding    : 80px 10%;
        width      : 100%;
        float      : none;
        font-size  : 10pt;
        line-height: 32px;
    }
}
/*Trayectoria */
#trayectoria {
    background: url('../images/texturas/paper.png');
}
