#testimonios{
	display: inline-block;
	font-family: Aspira;
	font-size: 12pt;
	display: none;
	@media screen and (max-width: $ipad_mediaquery - 1) {
            background: $ocre;
    }

	.first{
		display: flex;
		color: $gris;
		@media screen and (max-width: $ipad_mediaquery - 1) {
        display : block;
    }
	}.second{
		display: flex;
		color: $gris;
		@media screen and (max-width: $ipad_mediaquery - 1) {
        display: inline-flex;
    	flex-direction: column;
    }
}
	.primer_cuadrante{
		      background: url("../images/Texturas/comillas_abrir.png") left top no-repeat,
		       url("../images/Texturas/comillas_cerrar.png") right bottom no-repeat,
		       url("../images/texturas/paper.png");
    background-position: 3% 13%, 91% 76%,0px 0px;
    width: 46%;
    max-width: 508px;
    float: left;
    border-width: 0px 18px 5px 0px;
    border-color: $ocre;
    border-style: solid;
    @media screen and (max-width: $ipad_mediaquery - 1) {
        float : left;
        max-width: 100%;
        width: 100%;
        border-style: none;
    }
		.descripcion{
			margin-left: 16%;
			margin-right: 16%;
			margin-top: 16%;
			margin-bottom: 8%;
			line-height: 1.8;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 12pt;
			}
		}
		.firma{
			margin-right: 16%;
			float: right;
			margin-bottom: 8%;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 10pt;
			}
		}
	}
	.segundo_cuadrante{
		background: url("../images/Texturas/comillas_abrir.png") left top no-repeat,
		       url("../images/Texturas/comillas_cerrar.png") right bottom no-repeat;
		       background-position: 6% 16%, 89% 72%;
		width: 53%;
		float: left;
		max-width: 592px;
		@media screen and (max-width: $ipad_mediaquery - 1) {
        float : left;
        max-width: 100%;
        width: 100%;
        background: url("../images/Texturas/comillas_abrir.png") left top no-repeat,
		       url("../images/Texturas/comillas_cerrar.png") right bottom no-repeat,#FFFFFF;
    }
		.descripcion{
			margin-left: 16%;
			margin-right: 16%;
			margin-top: 16%;
			margin-bottom: 8%;
			line-height: 1.8;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 12pt;
			}
		}
		.firma{
			margin-right: 16%;
			float: right;
			margin-bottom: 8%;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 10pt;
			}
		}

	}
	.tercer_cuadrante{
		background: url("../images/Texturas/comillas_abrir.png") left top no-repeat,
		       url("../images/Texturas/comillas_cerrar.png") right bottom no-repeat,
		       url("../images/texturas/paper.png");
    background-position: 6% 9%, 88% 72%,0px 0px;
		float: left;
		width: 46%;
		max-width: 508px;
		border-width: 0px 18px 0px 0px;
		border-color: $ocre;
		border-style: solid;
		    padding-right: 20px;
    padding-left: 17px;
    @media screen and (max-width: $ipad_mediaquery - 1) {
        float : left;
        max-width: 100%;
        width: 100%;
        order: 2;
        border-style: none;
    }
		.descripcion{
			margin-left: 16%;
			margin-right: 16%;
			margin-top: 16%;
			margin-bottom: 8%;
			line-height: 1.8;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 12pt;
			}
		}
		.firma{
			margin-right: 16%;
			float: right;
			margin-bottom: 8%;
			text-align: right;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 10pt;
			}
		}


	}
	.cuarto_cuadrante{
		width: 54%;
		background: url("../images/Texturas/comillas_abrir2.png") left top no-repeat,
		       url("../images/Texturas/comillas_cerrar2.png") right bottom no-repeat,
		       url("../images/Texturas/grey_small.png");
    	background-position: 3% 13%, 91% 76%,0px 0px;
		float: left;
		max-width: 592px;
		color: #FFFFFF;
		@media screen and (max-width: $ipad_mediaquery - 1) {
        float : left;
        max-width: 100%;
        width: 100%;
    }
		.descripcion{
			margin-left: 16%;
			margin-right: 16%;
			margin-top: 16%;
			margin-bottom: 8%;
			line-height: 1.8;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 12pt;
			}
		}
		.firma{
			margin-right: 16%;
			float: right;
			margin-bottom: 8%;
			@media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
				font-size : 10pt;
			}
		}

	}
	.title{
		font-family: Caslon;
		font-size: 40pt;
		margin-left: 6%;
		padding: 50px 30px;
		@media screen and (max-width: $ipad_mediaquery - 1) {
	        border-color : #FFFFFF;
	        color: #FFFFFF;
    }
		p{
			border-left: solid 4px $ocre;
			padding: 0 25px;
			position: relative;
			&:hover {
					&::after {
							bottom: 20%;
					}
					&::before {
							top: 20%;
					}
			}
			&::after,
			&::before {
					content      : '';
					display      : block;
					position     : absolute;
					background   : $gris;
					width        : 4px;
					height       : 60%;
					border-radius: 3px;
					left         : -50px;
					transition   : ease 0.5s;
			}
			&::after {
					bottom   : 0;
					transform: rotate(-45deg);
			}
			&::before {
					top      : 0;
					transform: rotate(45deg);
			}
		}
		.font_change{
			font-family: Aspira;
		}
	}
	img{
		margin-top: 57px;
		width: 1.7%;
		position: absolute;
		cursor: pointer;
		@media screen and (max-width: $ipad_mediaquery - 1) {
	        display : none;
    }
	}
}
