$max_mediaquery: 1100px;
$ocre: #9e8629;
$gris: #3e3d3f;
$title_size: 45pt;
$subtitle_size: 25pt;
$initial_time     : 2.5s;
$interval_time    : 1.5s;
$aditional_time   : 1s;

$ipad_mediaquery  	: 768px;
$max_ipad_mediaquery: 800px;
$mobile_mediaquery	: 321px;
$max_mobile_mediaquery: 360px;