@charset "UTF-8";
@import "var";
@import "fonts";
@import "hero";
@import "info";
@import "svg";
@import "centros";
@import "contacto";
@import "mapa";
@import "enlaces";
@import "aseguradoras";
@import "testimonios";
@import "custom_svg";
@import "animacion";
@import "biografia";
@import "alianzas";
/*
HERO BANNER
*/
body {
    margin     : 0;
    font-family: Aspira;
    color      : $gris;
    // resolver aseguradoras primero
    // background : whitesmoke;
}
* {
    box-sizing: border-box;
}
nav {
    position    : absolute;
    left        : 10%;
    bottom      : 13%;
    word-spacing: 60px;
    a {
        color          : #3e3d3f;
        text-decoration: none;
        font-family    : Caslon;
        font-size      : .8rem;
        letter-spacing : 2px;
    }
}
.top{
    background-color: $ocre;
    @media screen and (max-width: $ipad_mediaquery - 1) {
        display: none;
    }
}
.header {
    display : flex;
    overflow: hidden;
    max-width: 1100px;
    max-height: 206px;
    margin: auto;
    background-color : $ocre;
    .brain {

        padding-bottom: 19%;
        background    : url('../images/Texturas/grey_small.png');
        float         : left;
        max-width: 206px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
         max-width: 150px;
        max-height: 150px;
       }
        object {
            width  : 50%;
            display: block;
            margin : auto;
            margin-top: 18%;
        }
    }
}
.phone {
    position: absolute;
    left: 63%;
    top: 16%;
    background-color: #9e8629;
    max-width: 360px;
    max-height: 103;
    width: 38%;
    padding-top: 1%;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        top: 0%;
        max-height: 104px;
       }
    p {
        font-family   : Big Caslon Medium;
        font-weight   : 500;
        font-size     : 0.8rem;
        padding-right : 25px;
        letter-spacing: 1.5px;
        color         : #FFFFFF;
        left          : 10%;
        padding-top   : 3px;
        position      : relative;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
         padding-top : 0px;
       }
    }
    p#number{
        .font_change{
            font-family: Aspira;
            font-weight: 100;
        }
        &::after{
            content: '';
            display: block;
            height: 2px;
            width: 13%;
            background: #FFFFFF;
            margin-top: 15px;
            @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
         width : 29%;
       }
        }
    }
    p#english {
        font-family: Aspira;
        font-weight: 200;
        .bandera{
            width: 8%;
            margin-left: 10px;
            vertical-align: -10%;
            @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
         width: 15%;
       }
        }
        i#fb_logo{
            vertical-align: -6%;
            margin-left: 40px;
            @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
            vertical-align: 6%;
            margin-left: 6px;
       }
        }
    }
    .english_text{
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
         display: none;
       }
    }
}
.horizontal {
    position        : absolute;
    left            : 7%;
    top             : 63.5%;
    padding-bottom  : 0.5%;
    width           : 61%;
    background-color: #9e8629;
}
/*Button*/
.btn {
    padding       : 10px 40px 10px 30px;
    background    : rgba(0, 0, 0, .5);
    position      : absolute;
    right         : 10%;
    bottom        : 5%;
    color         : white;
    text-transform: uppercase;
    font-family   : Aspira;
    font-size     : 12pt;
    border-left   : solid 5px $ocre;
}
span.arrow-r {
    &::after,
    &::before {
        content   : '';
        display   : block;
        height    : 2px;
        width     : 7px;
        right     : 20px;
        background: white;
        position  : absolute;
    }
    &::before {
        transform: rotate(45deg);
        top      : 40%;
    }
    &::after {
        top      : 50%;
        transform: rotate(-45deg);
    }
}
.ribbon {
    width            : 100%;
    height           : 77px;
    background       : url('../images/pattern.png');
    background-repeat: repeat;
    margin           : 0;
    .logo_ocre {
        width     : 77px;
        height    : 77px;
        margin    : none;
        float     : right;
        background: $ocre;
        position  : relative;
        .logo {
            width    : 26.2px;
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%,-50%);
            fill     : white;
        }
    }
}
#procedimientos {
    position: relative;
    clear   : both;
    overflow: auto;
    .btn{
      bottom: 0.5%;
      @media screen and (min-width: 620px){
        bottom: 5%;
      }
    }
}
.payments {
    text-align  : center;
    display: inline-block;
        margin-top: 3%;
    margin-left: 4%;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
       font-size : 10pt;
       font-family: Aspira Regular;
   }
@media screen and (max-width: $ipad_mediaquery - 1) {
        text-align: center;
        margin-right: 70px;
        margin-left: 70px;
        letter-spacing: 1px;
    }

}
.logo_cc{
    float: right;
        margin-top: -18px;
    margin-left: 210px;
   img {
    max-width : 100px;
    max-height: 50px;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
       max-width : 60px;

   }

}
@media screen and (max-width: $ipad_mediaquery - 1) {
            margin-top: 18px;
            float : none;
            margin-left : 0px;
    }
    }
footer {
    display         : inline-block;
    width           : 100%;
    background-color: $ocre;
    .copyright {
        font-family: Big Caslon Medium;
        color      : #ffffff;
        font-size  : 1.5rem;
        font-weight: 100;
        position   : absolute;
        left       : 20%;
        margin-top : 50px;
        letter-spacing: 1.7px;
        @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {

           margin-left: 30px;
           font-size: 14pt;
           font-weight: 100;
           position: absolute;
           left: 26%;
           margin-top: 33px;
       }
       @media screen and (max-width: $ipad_mediaquery - 1) {
        margin-top : 22px;
    }
       .font_change{
        font-family: 'Aspira Light';
    font-size: 12pt;
    letter-spacing: 2px;
         @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
           font-family : 'Aspira';
           font-size: 10pt;
           font-weight: lighter;
       }
       @media screen and (max-width: $ipad_mediaquery - 1) {
        font-size: 2.9vw;
        margin-left: 11%;
    }
   }
   .firma{
    @media screen and (max-width: $ipad_mediaquery - 1) {
        font-size: 2.9vw;
        margin-left: 11%;
    }
   }
}
}
.logo_footer {
    position   : relative;
    background : url("../images/Texturas/marmol_small.png");
 width      : 130px;
    margin-left: 70px;
    height     : 130px;
    text-align : center;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
       width: 112px;
       margin-left: 70px;
       height: 105px;
   }
   @media screen and (max-width: $ipad_mediaquery - 1) {
        height : 110px;
        width : 15%;
        margin-left : 9%;
    }
   svg {
    width   : 40%;
    height  : auto;
    margin  : auto;
    fill    : $ocre;
    position: relative;
    top     : 30%;
    @media screen and (min-width: 550px){

    }
}
}
.wrapper {
    max-width: $max_mediaquery;
    margin   : auto;
    @media screen and (min-width: $ipad_mediaquery) and (max-width: $max_ipad_mediaquery) {
        max-width : $ipad_mediaquery;
    }
    @media screen and (max-width: $ipad_mediaquery - 1) {
        max-width : 100%;
    }
}
.background_header{
    background-color: $ocre;
    max-height: 206px;
    display: block;
    height: 206px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
