@charset "UTF-8";

@import "var";
@import "fonts";
@import "hero";
@import "info";
/*
  HERO BANNER
*/
body{
  margin: 0;
}
.header{
	display: block;
	overflow: auto;
	.brain{
		height: 0;
    padding-bottom: 19%;
    width: 19%;
		background-color: #58595A;
    float: left;
	}
}
#contenedor {
  width: 700px;
  background-color: #0AA000;
}
#cabecera {
	background-color: #ACB456;
}
#menu {
  float: left;
  width: 150px;
  background-color: #15AFCA;
}
#contenido {
  float: left;
  width: 550px;
  background-color: #00654A;
}
#pie {
  clear: both;
  background-color: #FF125A;
}
